<div class="container mt-5">
  <div class="jumbotron text-center">
    <h1 class="display-4">Welcome to the Student Dashboard</h1>
    <hr class="my-4">
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <a class="btn btn-outline-primary btn-lg" href="/students" role="button">Students</a>
    </div>
  </div>
</div>
